<!DOCTYPE html>
<html>
	<head>
		<title>Quo</title>
		<link rel="stylesheet" href="css/popup.css" />
		<meta charset="UTF-8">
		<script src="js/angular.min.js"></script>
		<script src="js/popup.js"></script>
	</head>
	<body ng-app="popupApp" ng-controller="PopupCtrl">
		<h1>Quo</h1>
		<div class="disabled"><span ng-show="disabled">Disabled</span></div>
		<button ng-click="toggleDisabled()">{{disabled ? 'Enable Quo' : 'Disable Quo'}}</button>
    <button ng-click="openQuoSettings()">Edit Quotes</button>
	</body>
</html>
