<!DOCTYPE html>
<html>
	<head>
		<title>Quo</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/quo.css" />
		<!-- ☈ -->
		<link rel="shortcut icon" href="images/icon-active-32.png">


		<script src="js/angular.min.js"></script>
		<script src="js/quo.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers/quopage.js"></script>
		<script src="js/controllers/editquo.js"></script>
		<script src="js/controllers/deletequo.js"></script>
		<script src="js/controllers/importexport.js"></script>
		<script src="js/controllers/listquotes.js"></script>
	</head>
	<body ng-app="quoApp" ng-controller="quoPageCtrl" class="private">
		<div id="cover" ng-show="showEditForm || showDeleteForm" style="display:none;">
			<div id="private-mode-message" ng-show="false">
        Quo does not work in Private Mode {{2+2}}
			</div>			
		</div>
		
		<!-- Confirmation form for deleting quotes -->
		<div id="delete-quo-form" ng-show="showDeleteForm" ng-controller="DeleteQuoCtrl">
			<h3>Are you sure you want to delete this quo?</h3>
			<div>
				<label>Quote:</label>
				<span>{{quo.description}}</span>
			</div>
			<div>
				<label>Author:</label>
				<span>{{quo.exampleUrl}}</span>
			</div>
			<div class="button-container">
				<a class="btn red large" ng-click="deleteQuo()">Yes, delete it</a>
				<a class="btn grey large" ng-click="cancelDelete()">No, don't delete it</a>
			</div>
		</div>
		

		<!-- Form for creating and editing quotes -->
		<div id="edit-quo-form" ng-show="showEditForm" ng-controller="EditQuoCtrl">
			<h3>{{editIndex >= 0 ? 'Edit' : 'Create'}} Quo</h3>
			<div class="form-grid">
				<div>
					<label>Quote:</label>
					<div class="input-cell"><input type="text" ng-model="quo.description" placeholder="Enter a description for your quo rule" /></div>
				</div>
				<div>
					<label>Author:</label>
					<div class="input-cell"><input type="text" ng-model="quo.exampleUrl" ng-change="quo.updateExampleResult()" placeholder="http://example.com/some/path?a=1" /></div>
				</div>
			</div>
			<div class="button-container">
				<a ng-class="{disabled:quo.error || quo.includePattern == ''}" class="btn green large" ng-click="saveQuo()">Save</a>
				<a class="btn red large" ng-click="cancelEdit()">Cancel</a>
			</div>
		</div>


		<div id="blur-wrapper" ng-class="{blur: showEditForm || showDeleteForm}">
			
			<h1>Quo</h1>
			<h5>Motivational quotes</h5>

			<div id="menu">
				<a class="btn blue large" ng-click="createNewQuo()">Create new quo</a>
				
				<!-- Importing/Exporting of quotes -->
				<span ng-controller="ImportExportCtrl">
					<input type="file" id="import-file" fileselected="importQuotes($file)" accept=".rjson,.json,.txt,text/*"  />
					<label for="import-file" class="btn blue large">Import</label>
					<a class="btn blue large" ng-mousedown="updateExportLink()" ng-href="{{quoDownload}}" download="quo.json">Export</a>
				</span>
	
				<a class="btn blue large" href="help.html" target="_blank">Help</a>
			</div>


			<div id="message-box" ng-show="true" ng-class="{visible : message, error : messageType == 'error', success : messageType == 'success'}">
				{{message}}
				<a ng-click="message=null">&#x2716;</a>
			</div>

			<!-- List of existing quotes -->
			<div class="quo-table" ng-show="true" ng-controller="ListQuotesCtrl">
				<div class="quo-row" ng-class="{disabled: r.disabled}" ng-repeat="r in quotes">
					<h4><span class="disabled-marker" ng-show="r.disabled">[Disabled] </span><span>{{r.description}}</span></h4>
					<div class="quo-info">
						<div>
							<label>Quo:</label>
							<p>{{r.includePattern}}</p>
						</div>
						<div>
							<label>to:</label><p>{{r.quoUrl}}</p>
						</div>
						<div ng-show="r.excludePattern">
							<label>excluding:</label><p>{{r.excludePattern}}</p>
						</div>
						<div ng-if="r.patternDesc">
							<label>Hint:</label><p>{{r.patternDesc}}</p>
						</div>
						<div>
							<label>Example:</label> <p><span class="error" ng-show="r.error">{{r.error}}</span><span ng-show="r.exampleResult">{{r.exampleUrl}} <span class="arrow">&rarr;</span> {{r.exampleResult}}</span></p>
						</div>
						<div>
							<label>Applies to:</label> <p>{{r.appliesTo|requestTypeDisplay}}</p>
						</div>
					</div>
					<div>
						<a class="btn medium blue" ng-click="toggleDisabled(r)">{{r.disabled ? "Enable" : "Disable"}}</a>
						<a class="btn medium green" ng-click="editQuo($index)">Edit</a>
						<a class="btn medium red" ng-click="confirmDeleteQuo($index)">Delete</a>
						<a class="btn medium grey move-up-btn" ng-class="{disabled:$first}" ng-click="moveUp($index)">▲</a>
						<a class="btn medium grey move-down-btn" ng-class="{disabled:$last}" ng-click="moveDown($index)">▼</a>
						<a class="btn medium grey padded" ng-click="duplicateQuo($index)">Duplicate</a>
					</div>
				</div>
				<label id="storage-sync-option" ng-if="showSyncOption"><input type="checkbox" ng-model="isSyncEnabled" ng-click="toggleSyncSetting()" />Enable Storage Sync</label>
			</div>

			<footer>
				<small>Quo is created by <a target="_blank" href="https://sergioro.mx">Sergio Romero</a></small>
			</footer>
		
		</div>
	</body>
</html>
